{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/theme/material-darker.css" integrity="sha256-WDWquuSBSdv21Hz2EWAVXwMOM4grSoDDX5o9YO0GhoA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.css" integrity="sha256-ylWkFzi+pmuVQm80SJjUJvNjzXmRc6+naSkH2xWL5+8=" crossorigin="anonymous">
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.js" integrity="sha256-5fTM07R1KcdRuHzpRVWGxov8vA5EmDJDWE1AisGOsZU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/addon/mode/overlay.js" integrity="sha256-/sdtVfzeo4ObwYqYkjPb5vD5UBdT0RM5CbOp8n/ubnY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/mode/django/django.js" integrity="sha256-DVVviz0fsQP0GdHl/+rpKrNHRTM1+C9U7b6f78brOIM=" crossorigin="anonymous"></script>

    <script>
        var options = {
            mode: 'django',
            theme: "material-darker",
            lineWrapping: true
        };

        CodeMirror.fromTextArea($('#id_subject')[0], options);
        CodeMirror.fromTextArea($('#id_content')[0], options);
        CodeMirror.fromTextArea($('#id_html_content')[0], options);

        $('.CodeMirror').css('height', 'auto');
    </script>
{% endblock %}